body
{
    font-size: 150%;
	margin-left: 4em;
	margin-right: 4em;
	font-family: sans-serif;
}

.checkbox
{
	float: right;
	clear: both;
	font-size: 2em;
	width: 1em;
	height: 1em;
}

img.screen
{
	border: 0.5em solid Orange;
}

img.script
{
	border: 0.5em solid Orange;
	background-color: Gray;
	padding: 1em;
}

h1
{
	font-size: 150%;
	background-color: Green;
	color: White;
	width: 4em;
	padding: 0.25em;
	text-align: center;
	float: left;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-top: -0.5em;
}

h2
{
	font-size: 200%;
	background-color: LightBlue;
	padding: 1em;
	margin-left: -0.5em;
	margin-right: -0.5em;
	margin-top: 4em;
	margin-bottom: 1em;
}

h3
{
	padding: 0.5em;
	background-color: Green;
	color: White;
}

h3.challenge
{
	background-color: DarkCyan;
	color: Yellow;
}

h5
{
	font-size: 100%;
}

.activity
{
	color: Orange;
}

.test
{
	color: Green;
}

.save
{
	color: Blue;
}

h4.save
{
	padding: 0.5em;
	background-color: Blue;
	color: White;
}